.gral-container {
  position: absolute;
  top: 86rem;
}
/*PROJECTS title*/
.projects {
  position: relative;
  right: 27.3rem;
  font-size: 30px;
  color: #cd5cd1;
} 
.each-proj {
  border: 8px inset #9d8feb;
  box-shadow: 3px 3px 20px 0px rgba(208, 0, 231, 0.281);

  /* border-radius: 20px; */
  width: 24rem;
  height: 33.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 1rem;
  position: relative;
  left: 105px;

}
.card-project  {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: start;
  position: relative;
  top: 3rem;
}
.name-proj {
  position: relative;
  color: #9d8feb;
  font-size: 22px;
  text-align: left;
  left: 0.5rem;
  top: .5rem;

}
.img-cont {
  position: relative;
  top: 1rem;
}
.descrip-proj{
  position: relative;
  /* align-content: start; */
  top: 1.5rem;
  left: .1rem;
  text-align: justify;
  max-width: 22rem;
}

.tech-div {
  position: absolute;
  top: 23rem; /*modificar par aaltura de techs*/
  display: flex;
  margin: 0rem 1rem 0rem 1rem;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

}

.btn-tech {
  background-color: #c67bc9f5;
  border-radius: 10%;
  border-color:#c67bc9f5;
  font-size: 15px;
  position: relative;
  margin: .1rem;
  padding: .2rem;
  
}

/* .each-tech {} */

.btn-viewmore {
  border-color: #cd5cd1;
  /* box-shadow: 3px 3px 20px 0px rgba(208, 0, 231, 0.281); */
  color: #cd5cd1;
  position: absolute;
  border-radius: 10px;
  top: 29rem;
  right: 4em;
  font-size: 20px;
  width: 12rem;
  margin: .1rem;
  padding: .2rem;
}
.btn-viewmore button :hover {
  box-shadow: 6px 6px 20px 0px rgba(208, 0, 231, 0.281);
  background-color: rgb(22, 22, 0);
  color: #cd5cd1;
}