.big-container {
  position: absolute;
  top: 119rem;
}

.title_skills {
  position: relative;
  right: 26rem;
  top: 7rem;
  font-size: 30px;
  color: #cd5cd1;
}
.front-title {
  position: relative;
  /* justify-content: center; */
  left: 9.6rem;
  color: #9d8feb;
  font-size: 22px;
  top: 7rem;
}
.all_front {
  background-color: transparent;
  margin: 0px 175px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
  left: 9.5rem;
  top: 7.5rem;
}
.everyfront {
  background-color: rgb(253 253 253 / 45%);
  color: #05050f;
  border: 2px solid #fcfcfc;
  border-radius: 15px;
  font-size: 15px;
  width: 7rem;
  height: 7rem;
}
.everyimages {
  margin-top: 1rem;
  background-color: #ffeffae3;
  border-radius: 10px;
}
.back-title{
  position: relative;
  color: #9d8feb;
  font-size: 22px;
  top: 8.5rem;
  left: 9.5rem;
  background-color: #05050f;
}
.all_back {
  background-color: transparent;
  margin: 0px 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  top: 8.5rem;
  left: 9.55rem;
}
.every-back {
  border: 2px solid #fcfcfc;
  color: #05050f;
  font-size: 15px;

  border-radius: 15px;
  margin: 9px;
  width: 7rem;
  height: 7rem;
  background-color: rgb(253 253 253 / 45%);
}
.everyimagesB {
  margin-top: 1rem;
  background-color: #ffeffae3;
  border-radius: 10px;
}
.tools-container {
  background-color: #05050f;
}
.tools-title {
  background-color: #05050f;
  position: relative;
  color: #9d8feb;
  font-size: 22px;
  top: 9rem;
  left: 9.5rem;

}
.all_tools{
  background-color: transparent;
  margin: 0px 175px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
  left: 9.5rem;
  top: 9.5rem;
  margin-bottom: 200px;

}
.everytool{
  background-color: rgb(253 253 253 / 45%);
  color: #05050f;
  font-size: 15px;
  border: 2px solid #fcfcfc;
  border-radius: 15px;
  width: 7rem;
  height: 7rem;
}
.everyimagesT {
  margin-top: 1rem;
  background-color: #ffeffae3;
  border-radius: 10px;
}