.logoimg {
  position: relative;
  left: 5rem;
  top: 1.5rem;
  width: 90px;
  height: 75px;
}
nav.navbar {
  position: relative; /*always visible*/
  width: 100%;
  height: 6rem;

  background-color: #121212;
  transition: 0.32 ease-in-out; /*to animation*/
}

nav.navbar  .nav-link.navbar-link {
  color: #fff !important;
  display: flex;
  position: relative;
  left: 7rem;
  top: 1.5rem;
  padding: 21px;
  font-size: 23px;
  animation: zoomIn;
  animation-duration: 1s; /* don't forget to set a duration! */
}

.me-auto {
  width: 65rem;
  height: 6rem;
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
  top: -1rem;
}

/* ------- SOCIAL ------ 
linkdin icon*/

.navbar-text .social-icon {
  position: relative;
  right: 25.3rem;
  bottom: 2rem;
}

/*github icon*/
.navbar-text .social-icon2 {
  position: relative;
  right: 32.5rem;
  bottom: 2rem;
}


a.active.nav-link {
  color: #62a5d1;
  letter-spacing: 0.2rem;
  padding: 20px;
  font-size: 20px;
}

.link-icon a img {
  width: 15px !important;
  position: absolute;
  border: 2px solid rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.social-icon a:hover::before {
  color: #121212;
  background-color: #fff
}

span.navbar-text {
  display: flex;
  position: relative;
  left: 107rem;
  bottom: 2rem;
  width: 13rem;

}



nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
  color: red
}

nav.navbar .navbar-toggler-icon {
  /*when menu has minimized*/
  width: 25px;
  height: 1px;
  position: relative;
  border-bottom: 1px solid #fff;
  transition: all 300ms linear;
  left: 13rem;
}

nav.navbar .navbar-toggler-icon::after,
nav.navbar .navbar-toggler-icon:before {
  width: 30px;
  position: absolute;
  height: 3px;
  background-color: #fff;
  content: "";
  transition: all 300ms linear;
}

nav.navbar .navbar-toggler-icon:after {
  top: 12px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
  background-color: #fff;
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before{
  transform: rotate(45deg);
  background-color: #fff;
  height: 2px;
}

@media (max-width: 576px) {
  .logoimg {
    position: relative;
    left: 8rem;
    top: 1.5rem;
    width: 90px;
    height: 75px;
  }
  nav.navbar {

      right: 5rem;
      position: relative;
      width: 54%;
      /* left: -5rem; */
      height: 80px;
  }
  .span.navbar-text {
    display: flex;
    position: relative;
    left: 95rem;
    bottom: 2.1rem;
    width: 13rem;
  }
  .me-auto {
    width: 139rem;
    height: 6rem;
    display: flex;
    position: relative;
    margin: 0px;
    padding: 0;
    top: -1rem;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  nav.navbar  .nav-link.navbar-link {

      color: #fff !important;
      display: flex;
      position: relative;
      left: 10rem;
      top: 1.5rem;
      padding: 21px;
      font-size: 23px;
  }

}