.logoimg {
  position: relative;
  right: 0rem;
  top: 1rem;
  width: 120px;
}

.btn {
  width: 13rem;
  height: 4rem;
  right: 5rem;
  top: 11px;
}

.btn:hover {
  color: #121212;
  background-color: #fff;
}

.buttons {
  position: relative;
  right: 12rem;
  top: 2rem;
}

nav.navbar {
  position: absolute; /*always visible*/
  width: 100%;
  height: 9%;
  background-color: #121212;
  transition: 0.32 ease-in-out; /*to animation*/
}

nav.navbar  .nav-link.navbar-link {
  color: #fff !important;
  display: flex;
  position: relative;
  margin: -5px;
  padding: 45px;
  font-size: 25px;
}

.me-auto {
  width: 45rem;
  height: 6rem;
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
  top: -1rem;
  bottom: 3rem;
}

/* ------- SOCIAL ------ */
.navbar-text .social-icon {
  position: relative;
  right: 40rem;
  bottom: 2rem;
  width: 0rem;
  height: 0rem;
}

.link-icon{
  max-width: 3px;
}

.navbar-text .social-icon2 {
  position: relative;
  right: 44rem;
  bottom: 2rem;
  width: 0rem;
  height: 0rem;
}

/* ----- CONTACT ME ---------- */
.navbar-text button {
  font-weight: 600;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 35px;
  font-size: 16px;
  position: relative;
  background-color: transparent;
  transition: 0.3 ease-in-out;

  right: 34rem;
  width: 12rem;
  height: 3rem;
  bottom: 2.5rem;

}


a.active.nav-link {
  color: #62a5d1;
  letter-spacing: 0.2rem;
  padding: 20px;
  font-size: 20px;
}

.link-icon a img {
  width: 15px !important;
  position: absolute;
  border: 2px solid rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.social-icon a:hover::before {
  color: #121212;
  background-color: #fff
}

span.navbar-text {
  display: flex;
  position: relative;
  left: 107rem;
  bottom: 2rem;
  width: 13rem;

}



nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
  color: red
}

nav.navbar .navbar-toggler-icon {
  /*when menu has minimized*/
  width: 25px;
  height: 1px;
  position: relative;
  border-bottom: 1px solid #fff;
  transition: all 300ms linear;
  left: 13rem;
}

nav.navbar .navbar-toggler-icon::after,
nav.navbar .navbar-toggler-icon:before {
  width: 30px;
  position: absolute;
  height: 3px;
  background-color: #fff;
  content: "";
  transition: all 300ms linear;
}

nav.navbar .navbar-toggler-icon:after {
  top: 12px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
  background-color: #fff;
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before{
  transform: rotate(45deg);
  background-color: #fff;
  height: 2px;
}