.banner {
  margin-bottom: 15px;
  height: 49rem;
  padding: 170px;
  background-image: url('../../assets/img/bg-night.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 20px 25px;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 25px;
  position: relative;
  bottom: 1rem;
  right: 3.5rem;
  display: inline-block;
  border-radius: 10px;
}

.banner h1 {
  position: relative;
  top: 3rem;
  right: 22.5rem;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  text-shadow: 1px -2px 36px #000000;
}

.banner p {
  color: #888888;
  text-shadow: 1px -2px 8px #000000;  
  font-weight: 700;
  letter-spacing: 0.8px;
  display: flex;
  position: relative;
  align-items: center;
}

.astronaut {
  position: relative;
  left: 47.6rem;
  bottom: 12rem;
  
}

.type-text {
  margin-top: 50px;
}


/* .banner button {
  color: #121212;
  border-top-color: #121212;
  font-weight: 500;
  font-size: 26px;
  letter-spacing: 0.8px;
  align-items: center;
  margin-top: 18rem;
  margin-right: 39rem;
  width: 13rem;
  height: 2.5rem;
  border-radius: 10px;
} */