.banner {
  margin-bottom: 15px;
  height: 49rem;
  padding: 170px;
  background-image: url('../../assets/img/bg-night.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  
}

.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 20px 25px;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 25px;
  position: relative;
  bottom: 1rem;
  right: 4.55rem;
  display: inline-block;
  border-radius: 10px;
  animation: flipInX; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

.banner h1 {
  position: relative;
  top: 6rem;
  right: 22.5rem;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  text-shadow: 1px -2px 36px #000000;
}

.banner p {
  color: #888888;
  text-shadow: 1px -2px 8px #000000;  
  font-weight: 700;
  letter-spacing: 0.8px;
  display: flex;
  position: relative;
  align-items: center;
}

.astronaut {
  position: relative;
  left: 47.6rem;
  bottom: 15rem;
  
}

.type-text {
  margin-top: 50px;
}

